<div class="container">
    <div class="row jumbo col-lg-12 d-block">
        <div class="jumbotron">
            <h1 class='mainHeading'></h1>
            <h1 class='mainHeading'>Locals Only</h1>
            <h2 class='subHeading'>Comment on Local Happenings and Doings</h2>
        </div>
    </div>
    <div class="row mainContent">
        <div class="col-md-6 col-sm-12 articles"></div>
        <div class="col-md-6 col-sm-12 comments"></div>
    </div>

    <footer>
        <div class="container footer">
            <span class="text-muted px-3">Made by Jack Ryan 2019</span>
        </div>
    </footer>
</div>